<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.japan.jav.learnjapan">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".test_feature_khang_duc.view.TestActivity" />
        <activity android:name=".complete_profile_bang.CompleteProfileActivity" />
        <activity android:name=".profile_tung.ProfileActivity" />
        <activity android:name=".chart_diem.ChartActivity" />
        <activity android:name=".download_nguyen.list.DownloadTopicActivity" />
        <activity android:name=".download_nguyen.detail.DetailTopicActivity"/>
        <activity android:name=".add_vocab_thanh.add.AddVocabActivity" />
        <activity android:name=".create_account_dan.SignupActivity" />
        <activity android:name=".reset_pass_hao.ResetPasswordActivity" />
        <activity android:name=".home_navigation_nhi_tam.view.HomeActivity" />
        <activity android:name=".setting_khang.SettingActivity" />

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity android:name=".login_trung_nam.LoginActivity">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />

                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
        </activity>
        <service
            android:name=".setting_khang.service.MyFireBaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name=".setting_khang.service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <!-- [END firebase_iid_service] -->
        <service android:name=".setting_khang.service.MyJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE"/>
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@android:drawable/stat_notify_chat" />
    </application>

</manifest>