<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.japan.jav.learnjapan">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".test_feature_khang_duc.view.TestActivity" />
        <activity android:name=".complete_profile_bang.CompleteProfileActivity" />
        <activity android:name=".profile_tung.ProfileActivity" />
        <activity android:name=".chart_diem.ChartActivity" />
        <activity android:name=".add_vocab_thanh.download.DownloadTopicActivity" />
        <activity android:name=".add_vocab_thanh.add.AddVocabActivity" />
        <activity android:name=".create_account_dan.SignupActivity" />
        <activity android:name=".reset_pass_hao.ResetPasswordActivity" />
        <activity android:name=".home_navigation_nhi_tam.view.HomeActivity" />

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity android:name=".login_trung_nam.LoginActivity">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />

                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
        </activity>
    </application>

</manifest>